html {
  font-size: 17px;
  font-family: Helvetica Neue;
  font-weight: 200;
}
a {
  text-decoration: none;
  color: #b3b3b3;
}
body {
  margin: 0;
}

#basic {
  padding: 20px;
  box-sizing: border-box;
  .item {
    color: #b3b3b3;
  }
  .buttons {
    overflow: hidden;
    padding: 20px 0;
  }
  .button {
    font-size: 12px;
    overflow: hidden;
    width: auto;
    box-sizing: border-box;
    padding: 2px 10px;
    float: left;
    border: 1px solid #b3b3b3;
    border-radius: 5px;
  }
}
