@import "../../define.scss";

#home-page {
  padding: 100px;
  h1 {
    font-weight: lighter;
  }
  h4 {
    width: 100%;
    font-weight: lighter;
    color: $normal-text-color;
    pre {
      width: 100%;
      white-space: pre-wrap;       /* Since CSS 2.1 */
      word-wrap: break-word;
    }
  }
}
